<!-- templates/all_products_page.html -->
<!-- author: gsuissa@bu.edu-->
<!-- a page that displays all the products that mini_amazon contains, it gives a good overall view of the store -->

{% extends 'mini_amazon/base.html' %}

{% block content %} 

<h1>Mini Amazon</h1>


<h3>Showing all products</h3>

<!-- Using tables is very important to keep a clear structure-->
<table>
    <!-- A way to set and organize columns-->
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="2" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="2" style="width: 5%;">
    </colgroup>
    
    <!-- First Row gets headers-->
    <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Add to cart?</th>
    </tr>
    
    <!-- The rest of the rows are obtained using a loop in context_object from views all_products-->
    {% for product in all_products %}
    <tr> 
        <td><a href="{% url 'product_page' product.pk %}">{{product.product_name}}</a></td>
        <td><img src="{{product.image_url}}" style="max-width: 150; max-height: 170";></td>
        <td><text>${{product.price}}</text></td>
        <td><button>Buy</button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}