<!-- mini_amazon/base.html -->
<!-- author: gsuissa@bu.edu-->

<html> 
    {% if user.is_authenticated %}
    
    <head>
        <title>Mini Amazon</title>
        <link rel= "stylesheet" 
        href="http://cs-people.bu.edu/gsuissa/css/templated-urban/assets/css/main.css">
    </head>
    
    <body>
        
        <h5>Welcome back {{ user.username }} !!!</h5>

        <div class="topnav" align="right">
            | <a href="{% url 'home_page' %}">Home</a>
            | <a href="{% url 'all_products_page' %}">All Products</a>
            | <a href="{% url 'cart_page' user.pk %}">Your Shoppingcart</a>
            | <a href="{% url 'user_page' user.pk %}">Your Profile</a>
            | <a href="{% url 'logout' %}">Logout</a>
          </div>
        
        <header align="left">
            <img width = 100; height=100; src="https://img.icons8.com/clouds/2x/amazon.png">
        </header>
        {% block content %}
        {% endblock %}

        <hr>
        This page was brought to you by gsuissa@bu.edu
    </body>
    {% endif %}

    {% if not user.is_authenticated %}

    <h3>Please Login to access content</h3>
    <button><a href="{% url 'login' %}">Login</a></button>
    
    {% endif %}
    
</html>