<!-- templates/cart_page.html -->
<!-- author: gsuissa@bu.edu-->

{% extends 'mini_amazon/base.html' %}

{% block content %} 

<h1>Mini Amazon</h1>

<h3>Your Shopping Cart</h3>
<table>
    <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>

    <tr>
        <th>Item</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete?</th>
    </tr>

    {% for x in profile.get_shopping_cart.get_items %}
    <tr> 
        <td>{{x.product.product_name}}</td>
        <td><img src="{{x.product.image_url}}" style="max-width: 150; max-height: 170";></td>
        <td><h5>{{x.quantity}}</h5></td>
        <td><h5>$ {{x.product.price}} per unit</h5></td>
        <td><button>Delete Item</button></td>
    </tr>
    {% endfor %}
</table>

Total = {{profile.get_shopping_cart.get_total_price}}

<h3>Checkout</h3>
<form method="get" action="https://www.dailymotion.com/video/xrazvm">
    <button type="submit">Checkout</button>
</form>


{% endblock %}