<!-- templates/product_page.html -->
<!-- author: gsuissa@bu.edu-->
<!-- The product pages give a more detailed description of each product and proposes the option to buy-->

{% extends 'mini_amazon/base.html' %}

{% block content %} 

<h1>Mini Amazon</h1>

<!-- Using tables is very important to keep a clear structure-->
<table>
    <tr><h4><center>{{product.product_name}} ${{product.price}}</center></h4></tr>
    <tr> 
        <center><img src="{{product.image_url}}" style="max-width: 420; max-height: 470";></center>
    </tr>
</table>


<h3>Add a new item to the Cart</h3>
<a href="{% url 'add_item' user.pk %}">Update Your Cart</a>

<!-- Form linked to the add_item function in views -->
<form method='POST' enctype="multipart/form-data" action="{% url 'add_item' user.pk %}">
{% csrf_token %}


    <!-- The loop will display each field necessary in the form-->
    <table>
    {% for field in item_form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <input type="submit" value="Add To Cart">
        </td>
    </tr>
    </table>
</form> 

{% endblock %}