<!-- templates/user_page.html -->
<!-- author: gsuissa@bu.edu-->
<!-- The user page is a bit ludicrous, it was suppose to be the final step for me to add the payment information 
of each user to use when checking out, it could have used an update profile view too-->

{% extends 'mini_amazon/base.html' %}

{% block content %} 

<h1>Mini Amazon</h1>

<h3>Your Profile page</h3>

<!-- Using tables is very important to keep a clear structure-->
<table>
    <tr><center><h4>{{user.username}}</h4></center></tr>
    
    <tr> 
        <center><img src="{{profile.image_url}}" style="max-width: 420; max-height: 470";></center>
    </tr>

    <tr align="image_url">
        <td>Email address: {{user.email}}</td>
    </tr>

    <tr align="image_url">
        <td>Hometown: {{profile.city}}</td>
    </tr>

    <tr>
        Credit Card Number: {{profile.credit_card}}
    </tr>
</table>

<a href="{% url 'update_profile' user.pk %}">Update this profile</a>

{% endblock %}