<!-- templates/user_page.html -->

{% extends 'mini_amazon/base.html' %}

{% block content %} 

<h1>Mini Amazon</h1>

<h3>Your Profile</h3>

<table>
    <tr><center><h4>{{user.username}}</h4></center></tr>
    
    <tr> 
        <center><img src="{{profile.image_url}}" style="max-width: 420; max-height: 470";></center>
    </tr>

    <tr align="image_url">
        <td>Email address: {{user.email}}</td>
    </tr>

    <tr align="image_url">
        <td>Hometown: {{profile.city}}</td>
    </tr>
</table>


{% endblock %}